<html>
  <head>
    <title>Address Book</title>
  </head>
  <body>
    <h1>Address book entry has been created</h1>
    <p>{{ newentry.getDescription }}</p>
    <p><a href='/'>View your address book.</a></p>
  </body>
</html>
